/* App.css */
*{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.app {
  min-height: 100vh;
  background-color: #000000;
  
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  max-width: 1400px;
  margin: 0 auto;
}

.left-panel, .right-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1024px) {
  .app-container {
    grid-template-columns: 1fr;
  }
}